body {
    background-image: url("g-crescoli-365898-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:960px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
}
.card-body {
    font-size:50px;
    /* margin-left: 275px; */
}